<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      
        <title>{% block head_title %}토론방{% endblock %}</title>
        

        <link href="{% static 'blog/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
                integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
                crossorigin="anonymous"></script>
    
        <script src="https://kit.fontawesome.com/89a12d4a7e.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
     <body>

        {% include 'blog/navbar.html' %}

        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5" id="main-area">
                    <h1 class="fw-bolder">주식 토론방에 오신걸 환영합니다.</h1>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">

                <!-- Blog entries-->
                <div class="col-lg-8">
                    {% block main_area %} <!--post_list.html 불러옴 -->
                    {% endblock %}
                    
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">검색</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="단어를 입력해주세요" aria-label="Enter search term..." aria-describedby="button-search" id="search-input"/>
                                <button class="btn btn-primary" id="button-search" type="button" onclick="searchPost();">검색</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4" id="categories-card">
                        <div class="card-header">카테고리</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul>
                                        {% for category in categories %}
                                        <li>
                                            <a href="{{ category.get_absolute_url }}">{{ category }} ({{ category.post_set.count }})</a>
                                        </li>
                                        {% endfor %}
                                        <li>
                                            <a href="/blog/category/no_category/">미분류 ({{ no_category_post_count }})</a>
                                        </li>
                                    </ul>
                                </div>
                                
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">규칙</div>
                        <div class="card-body">1. 주식 관련된 내용만 게시할 것.<br>
                            2. 허위 정보나 미확인 정보를 퍼트리지 않을 것. 정보를 공유할 때는 출처를 명시할 것.<br>
                            3. 다른 사용자나 기업을 비방하거나 무례하게 대하지 않을 것.<br>
                            4. 스팸이나 광고성 게시물은 엄격히 금지됩니다.<br>
                            5. 주식 거래 결정은 개인의 책임입니다. 다른 사용자의 글을 토대로 투자 결정을 하더라도 그 결과에 대한 책임은 글쓴이가 아닌 본인에게 있습니다.<br>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function searchPost(){
                let searchValue = document.getElementById('search-input').value.trim();
                if(searchValue.length > 1){
                    location.href = "/blog/search/"+searchValue + "/";
                }
                else{
                    alert('검색어('+ searchValue +')가 너무 짧ㅅ습니다');
                }
            };

            document.getElementById(search-input).addEventListener('keyup',function(event){
                if(event.key=='Enter'){
                    searchPost();
                }
            });
        </script>
       
        {% include 'blog/footer.html' %}
    </body>
</html>
