<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%  block head_title %}주식예측 및 토론 - 홈페이지{% endblock %}</title>

    <link href="{% static 'blog/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'single_pages/css/landing.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/89a12d4a7e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    {% include 'blog/navbar.html' %}
 
    <section>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                <h1 class="mt-5">주식 예측 및 토론방</h1>
                <p>
                    "우리의 주식 예측 및 토론방은 주식 시장의 다양한 이슈와 전망을 깊이 있게 탐구하고, 분석하는 곳입니다. <br>이곳에서는 각종 주식 정보와 예측, 그리고 다양한 의견을 공유하며 서로의 지식을 확장해 나갈 수 있습니다.<br> 투자에 관한 결정을 내리기 전에, 다양한 정보와 의견을 청취하고, 서로의 생각을 나누어 보세요.<br> 우리의 토론방에서는 각자의 경험과 지식을 바탕으로 풍부한 토론이 이루어지며, 이를 통해 더욱 높은 투자 성과를 이룰 수 있습니다.<br> 함께 합심하여 성장하는 주식 커뮤니티가 되기를 바랍니다."
                </p>
                <div>
                    <img style="width: 500px; height: 400px;"
                    src="https://previews.123rf.com/images/paylessimages/paylessimages1501/paylessimages150169829/49437762-%EC%A3%BC%EA%B0%80-%EA%B7%B8%EB%9E%98%ED%94%84.jpg" alt="주식 사진">
                </div>
            </div>
            <div class="col-lg-5 mt-5">
                <h2>주식 토론방 - 최신글</h2>
                {% for post in recent_posts %}
            
                <div class="card mt-1">
                    <div class="card-body">
                        <h6><a href="{{ post.get_absolute_url }}" class="text-decoration-none text-dark">{{ post.title }}</a></h6>
                        <span class="badge badge-pill badge-light float-right">
                            {{ post.author.username }}
                            &nbsp;
                            &nbsp;
                            {{ post.cerated_at }}
                        </span>
                        
                    </div>
                </div>
                {% endfor %}
                
            </div>
            </div>
        </div>
    </section>

    <div class="fixed-bottom">
    {% include 'blog/footer.html' %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
                integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
                crossorigin="anonymous"></script>
</body>
</html>